/* Contact.css */

.form-container {
  margin: 180px 10px 30px 110px;
  padding: 20px 0;
}

/* Common styling for input fields */
.input-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(232, 232, 232, 0.10);
  margin-bottom: 15px; /* Adjust the margin-bottom to create equal spacing */
}

.input-container input,
.input-container textarea {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px; /* Adjust the padding as needed */
  color: #FFF; /* Text color */
}

.mb-3{
  
  width: 385px;
  height: 37px;
  padding: 20px 0; /* Adjust the padding as needed to align with mb-3 */
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(232, 232, 232, 0.10);
}
.mb-second {
  width: 176px;
  height: 37px;
  padding: 20px 0; /* Adjust the padding as needed to align with mb-3 */
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #FFF;
  background: rgba(232, 232, 232, 0.10);
}

.mb-2 {
  width: 385px;
  height: 135px;
  padding: 20px 0;
}

.mb-1 {
  width: 385.216px;
  height: 37.646px;
  gap: 8px;
}

.btn-primary {
  display: flex;
  width: 385px;
  height: 36.348px;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #FFF;
}

.text-wrapper {
  color: #FFF;
  /* layout head */
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 33px */
  padding: 20px 0;
}

.contact-us {
  color: #FFF;
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%; /* 88px */
}
